body {
  margin: 0;
  font-family:   'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New',
    monospace;
}
@font-face {
  font-family: WidolteBold;
  src: url("./assets/fonts/widolte-demo.regular-demo.otf")
  format("truetype");
}
h1{
  font-family: "WidolteBold";
}
p{
  font-family: "Roboto";
}
@tailwind base;
@tailwind components;
@tailwind utilities;
