body {
  margin: 0;
  font-family:   'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Hide scrollbar for Chrome, Safari and Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

code {
  font-family: 'Courier New',
    monospace;
}
@font-face {
  font-family: WidolteBold;
  src: url("./assets/fonts/widolte-demo.regular-demo.otf")
  format("truetype");
}
h1{
  font-family: "WidolteBold";
}
p{
  font-family: "Roboto";
}
@tailwind base;
@tailwind components;
@tailwind utilities;
